# Frontend
node_modules/
dist/

# Backend
target/

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Environment
.env

# Uploads
uploads/

# Local database data
local_postgres_data/

# OS Files
.DS_Store
Thumbs.db